@font-face {
    font-family: baronneue; 
    src: url(fonts/baronneue.ttf); 
    src: url(fonts/baronneueblack.ttf); 
    src: url(fonts/baronneueblackitalic.ttf);
    src: url(fonts/baronneuebold.ttf); 
    src: url(fonts/baronneuebolditalic.ttf);
    src: url(fonts/baronneueitalic.ttf); 
   }

html{
	background: #f2f2f2;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	min-width: 100%;
}

body {
	min-width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	flex: auto;
	font-size: 16px;
}

a{
	color: #000;
	font-family: open sans;
	text-decoration: none;
}

ul {
	list-style: none;
}

img {
	border: 0;
}

h1 {
	margin-top: 0;
}

h4 {
	margin: 0;
}

#p_prldr {
	position: fixed;
	width: 100%;
	background: #fff;
	z-index: 30;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#toTop {
	position: fixed;
	bottom: 20px;
	left: 20px;
	width: 80px;
	height: 16px;
	background-color: #fff;
	padding: 3px;
	text-align: center;
	font-family: open sans;
	font-size: 0.8rem;
	cursor: pointer;
}

.header {
	width: 100%;
	min-width: 425px;
	margin: 0 auto 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 20px 0 20px 0;
	background: #fff;
	align-items: center;
}

.logo {
	margin: 0 50px 0 15px;
	display: flex;
	flex: none;
	align-items: center;
}

.menu_bar{
	margin-right: 1%;
	display: flex;
	justify-content: space-between;
}

.menu_bar ul{
	display: flex;
	box-sizing: border-box;
}

.menu_bar li{
	margin: 0 20px;
	font-size: 1rem;
	color: #000;
	padding-bottom: 5px;
}

.menu_bar a:hover{
	padding-bottom: 5px;
	color: red;
	border-bottom: 1px solid red;
	transition: all 0.2s;
}

/*.submenu li {
	position: absolute;
	display: none;
}*/

.movie_banner {
	width: 100%;
	min-width: 998px;
	height: 250px;
	overflow: hidden;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	background-size: cover;
}

.sale_banner {
	width: 100%;
	min-width: 998px;
	height: 250px;
	overflow: hidden;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	background-size: cover;
}

img#mov {
	box-sizing: border-box;
}

#menu_icon a{
	display: none;
}
@media screen and (max-width: 992px) {
	.block {
	min-width: 45%;
	margin: 10px 0 10px 0;
	}
}
@media screen and (max-width: 768px) {
	.menu_bar li {
		font-size: 1.2rem;
	}
	#p_prldr{
	position: absolute;
	left: 300px;
}
}

@media screen and (max-width: 460px) {
	.logo a img {
	width: 100%;
	display: flex;
	justify-content: center;
	}
	.menu_bar li {
		font-size: 2rem;
	}
}

@media screen and (max-width: 300px) {
	html {
		display: none;
	}
}


/* End of menu */

.login {
	display: flex;
}

.search {
	margin: 0 15px 0 50px;
	height: 30px;
	display: flex;
	align-items: center;
	padding: 20px;
	background-color: #fff;
}

.search input{
	border: none;
	padding: 5px 10px;
	border-bottom: 1px solid #000;
	outline: none;
	width: 200px;
}

.search input::placeholder {
	font-style: italic;
}

.bt_search button {
	padding: 5px;
	border: none;
	background: #fff;
	outline: none;
}

.bt_search button:hover {
	border: none;
	background: #fff;
	cursor: pointer;
}

h4>a {
	font-family: open sans;
	color: #000;
	font-size: 20px;
	font-weight: 500;
}

h4>a:hover {
	color: #000;
	text-decoration: none;
}

.row {
	display: flex;
	justify-content: space-around;
}

.block {
	height: 200px;
	max-width: 18%;
	display: flex;
	flex-wrap: wrap;
	border-radius: 5px;
	transition: all 0.5s;
	background: #fff;
}

.high-block{
	display: flex;
	flex-wrap: wrap;
	width: 35%;
	margin: 5px 15px;
	transition: all 0.5s;
	padding: 1%;
	flex-basis: 100%;
}


.icon_view p{
	color: #ccc;
	display: flex;
	flex-basis: 100%;
	flex-direction: row-reverse;
	margin-right: 10px;
}

.icon_view i {
	margin: 4px;
}

.main_block {
	height: 400px;
	max-width: 64%;
	display: flex;
	border-radius: 5px;
	transition: all 0.5s;
	background: #fff;
}

.wrapper {
	width: 34%;
	height: 400px;
	display: flex;
	flex-direction: column;
}

.main_block2 {
	height: 180px;
	max-width: 500px;
	min-width: 200px;
	display: flex;
	border-radius: 5px;
	transition: all 0.5s;
	background: #fff;
}

#side_top {
	margin: 0 0 10px 0;
}

#side_bottom {
	margin: 10px 0 0 0;
}

.main_block2 .news_block_big{
	border-radius: 5px;
	height: 100%;
	width: 400px;
} 

.main_block2 .news_block_big img{
	height: 100%;
} 

.main_block p, .main_block2 p{
	font-family: open sans;
	font-size: 1rem;
	font-weight: 100;
	line-height: 25px;
}

.block:hover{
	box-shadow: 0 15px 50px rgba(0,0,0,0.5);
	z-index: 5;
}

.main_block:hover{
	box-shadow: 0 15px 50px rgba(0,0,0,0.5);
	z-index: 5;
}

.main_block2:hover{
	box-shadow: 0 15px 50px rgba(0,0,0,0.5);
	z-index: 5;
}

.news_block_big{
	max-width: 55%;
	min-height: 125px;
	max-height: 400px;
	overflow: hidden;
	border-radius: 5px;
}

.news_block_big img{
	height: 100%;
} 

.news_block_big2{
	max-width: 100%;
	min-height: 125px;
	max-height: 400px;
	overflow: hidden;
	border-radius: 5px;
}

.news_block_big2 img{
	height: 100%;
} 
.menu_bar_footer{
	width: 100%;
}

.menu_bar_footer ul{
}

.menu_bar_footer li{
	margin: 0 20px;
	list-style: none;
	padding: 5px;
}
.menu_bar_footer a {
	color: #000;
	padding: 5px;
}
.menu_bar_footer a:hover {
	color: red;
 	border-bottom: 1px solid red;
 	text-decoration: none;
 	padding: 5px;
 	transition: all.5s;
}
.menu_bar_footer a:active {
	color: #000;
}

footer {
	min-height: 200px;
	width: 100%;
	background: #ddd;
	display: flex;
}

footer p {
	text-align: center;
}

footer img {
	margin: 0 auto;
}


.signup {
	display: flex;
	flex-wrap: wrap;
	width: 300px;
}

.signup p {
	display: flex;
	width: 300px;
	margin: 10px auto;
}

.signup input{
	display: flex;
	padding: 3px;
	outline: none;
}

.signup button{
	background: none;
	border: none;
	transition: all 0.25s;
}

.signup button:hover{
	cursor: pointer;
	border-bottom: 5px solid #ccc;
	outline: none;
}

.signup button:active{
	cursor: pointer;
	border-bottom: 5px solid #ccc;
	outline: none;
}

.signup button:focus{
	cursor: pointer;
	border: none;
	outline: none;
}

.signup input::placeholder{
	font-size: 14px;
	color: #ccc;
}



.banner {
	width: 30px;
	height: 200px
	background: #ccc;
}

.pages {
	display: flex;
	justify-content: center;
}

.pages a{
	text-decoration: none;
	color: #000;
	border-bottom: 1px solid #f2f2f2;
}

.pages a:hover{
	text-decoration: none;
	border-bottom: 1px solid red;
	color: red;
	transition: all.25s;
}

.pages p{
	margin: 0 10px;
	padding: 0 5px;
	font-size: 18px;
}

 .user {
 	width: 90%;
 }

  .user span{
 	font-size: 14px;
 }

 .user img{
 	width: 60px;
 	height: 60px;
 }

 .sidebar {
 	background: #555;
 	height: 150px;
 	width: 100%;
 }

 .cat a, .cat p{
	display: flex;
	margin: 0 30px 0 0;
 }

.cat p {
	border: 1px solid #fff;
	padding: 5px;
}

 .cat a {
 	color: #000;
 	border: 1px solid #fff;
 	padding: 5px;
 }

  .cat a:hover {
 	color: red;
 	border-bottom: 1px solid red;
 	text-decoration: none;
 	padding: 5px;
 	transition: all.5s;
 }

